@page
@model ASI_eSport.Pages.JeuxCompetition.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jeu_competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu_competition.LaCompetitionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu_competition.LaCompetitionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu_competition.LeJeu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu_competition.LeJeu.LibelleJeu)
        </dd>
    </dl>
</div>
<div>
    <div>
        <a asp-page="./Index" asp-route-id="@Model.Jeu_competition.LaCompetitionID">Retour à la compétition</a>
    </div>
</div>
