@page
@model ASI_eSport.Pages.Licencies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Inscription</a> - 
    <a asp-page="/Equipes/index">Creation d'équipe</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Naissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Statut)
            </th>
            <th>
                Validation
            </th>
            <th>
                Actions
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Licencie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naissance)
            </td>
            @if (item.Statut == false)
            {
                <td>
                    Non validé
                </td>
             }
             else
             {
                 <td>
                    Validé
                 </td>
             }
        <td>
            <Button Click="Button_Click">OUI</Button>
        </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
